---
interface Props {
  class?: string;
  priority?: boolean;
}

const { class: className, priority = false } = Astro.props;
---

<div class:list={["relative h-96", className]}>
  <div class="absolute inset-y-[calc(1/729*100%)] right-[calc(5/729*100%)] left-[calc(7/729*100%)] rounded-[calc(58/366*100%)/calc(58/729*100%)] shadow-2xl"></div>
  <div class="absolute top-[calc(23/729*100%)] left-[calc(23/366*100%)] grid h-[calc(686/729*100%)] w-[calc(318/366*100%)] transform grid-cols-1 overflow-hidden pt-[calc(23/318*100%)]">
    <slot />
  </div>
</div>
