---
import Container from './container.astro';
import Logo from './logo.astro';
import NavLinks from './nav-links.astro';

const navItems = [
  { label: 'MagicBell', href: 'https://magicbell.com/' },
  { label: 'Tailbits', href: 'https://tailbits.com/' },
  { label: 'Terms', href: 'https://www.magicbell.com/terms-and-conditions' },
  { label: 'Privacy', href: 'https://www.magicbell.com/privacy-policy' },
  { label: 'Cookies', href: 'https://www.magicbell.com/cookie-policy' },
];
---

<footer class="border-t border-gray-200">
  <Container>
    <div class="flex flex-col items-start justify-between gap-y-12 pt-16 pb-6 lg:flex-row lg:items-center lg:py-16">
      <div>
        <div class="flex items-center text-gray-900">
          <Logo class="h-10 w-10 flex-none fill-cyan-500" />
          <div class="ml-4">
            <p class="text-base font-semibold">CostWatch</p>
            <p class="text-sm">a product by <a href="https://magicbell.com?utm_source=cost.watch" class="hover:text-cyan-700">MagicBell, Inc</a>.</p>
          </div>
        </div>
        <nav class="mt-11 flex gap-8">
          <NavLinks links={navItems} />
        </nav>
      </div>
    </div>
    <div class="flex flex-col border-t border-gray-200 pt-8 pb-12 md:pt-6">
      <p class="mt-6 text-sm text-gray-500 md:mt-0">
        &copy; Copyright {new Date().getFullYear()}. All rights reserved.
      </p>
    </div>
  </Container>
</footer>
